.hero {
  width: 1280px;
  height: 853px;
  margin: 0 auto;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.3) 0%,
      rgba(2, 0, 36, 0.3) 100%
    ),
    url('../../images/startup-g11ceb8c9d_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.welcomeText {
  font-size: 50px;
  color: #ebd8ff;
  text-transform: uppercase;
  padding-top: 50px;
}
